# Server
PORT=3001
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/kitchen-orders
CLIENT_URL=http://localhost:5173

# Kitchen auth
KITCHEN_PIN=1234

# QR Code base URL
APP_BASE_URL=http://localhost:5173

# Optional
LOG_LEVEL=debug
